@import "./base/responsive";
@import "./base/typography";
@import "./components/button";
@import "./components/heart";
@import "./components/link";
@import "./components/loader";
@import "./layouts/footer";
@import "./layouts/header";
@import "./utils/keyframes";
@import "./utils/variables";

body {
    margin: 0;
}

.header {
    &__img {
        position: relative;
        display: block;
        margin: $center;
        width: 60%;
        @include desktop {
            margin: 50px auto 50px;
            width: 35%;
        }
    }
    &__img2 {
        width: $m-width;
        height: 240px;
        object-fit: cover;
        @include desktop {
            height: 320px;
        }
    }
    &__logo {
        position: absolute;
        color: black;
        top: 32px;
        left: 18px;
        font-size: 20px;
        @include desktop {
            top: 70px;
            left: 55px;
            font-size: 26px;
        }
    }
}

footer {
    width: $m-width;
    padding-bottom: 30px;
    border-style: none;
    background-color: #353535;
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    & h4 {
        color: #fff;
        margin: 0;
        padding: 15px;
        font-size: 25px;
        @include tablet {
            text-align: center;
            font-size: 30px;
        }
        @include desktop {
            width: $m-width;
            font-size: 35px;
            margin: 20px auto;
        }
    }
    .footer__text{
        margin: 0;
        padding: 0 15px 8px;
        @include desktop {
            width: 200px;
            display: inline;
        }
    }
    .footer__logo {
        color: #fff;
        float: left;
        width: 8px;
        padding-left: 15px;
        padding-right: 20px;
        @include tablet {
            display: none;
        }
    }
    .link {
        @include tablet {
            text-align: center;
        }
    }
}

.search {
    border-style: none;
    height: 300px;
    text-align: center;
    background-color: $background-color;
    width: $m-width;
    margin: 0;
    padding-bottom: 30px;
    @include tablet {
        padding-bottom: 0;
    }
    &__bar {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #eaeaea;
        box-shadow: inset 0px 5px 5px 0px #dddddd;
        &_champ {
            border: none;
            outline: none;
            background: #eaeaea;
            font-size: 1rem;
            padding: 20px 5px 20px 5px;
            margin-top: 5px;
            text-align: center;
            width: 150px;
        }
    }
    &__text {
        padding: 0 30px 0;
        margin:30px auto 30px;
        @include tablet {
            margin-top: 40px;
        }
    }
    .button {
        display: block;
        margin: auto;
        outline: none;
        @include button;
        cursor: pointer;
        box-shadow: $shadow;
    }
}

.guide {
    border-style: none;
    padding: 25px 30px;
    @include desktop {
        display: block;
        margin: 0 auto;
        max-width: 1050px;
        padding-bottom: 0;
    }
    &__manual {
        margin: auto;
        padding: 0;
        @include desktop {
            display: flex;
        }
        &_number {
            float: left;
            border-style: none;
            color: #fff;
            background-color: #9356DC;
            border-radius: $m-width;
            padding: 4px 8px 4px;
            position: relative;
            left: -10px;
        }
        &_logo {
            font-size: 18px;
            margin-left: 8%;
            margin-right: 16px;
            color: #7e7e7e;
        }
        & li {
            list-style-type: none;
            border-style: none;
            background-color: f6f6f6;
            font-size: 14px;
            border-radius: 20px;
            padding: 25px 25px 25px 0;
            margin: 25px auto;
            box-shadow: $shadow;
            &:first-child .guide__manual_logo {
                font-size: 21px;
            }
            @include desktop {
                width: 250px;
            }
        }
        & li:hover {
            background-color: #f5edff;
            .guide__manual_logo:before {
                color: $color-primary;
            }
        }
    }
}

.restaurants {
    margin: 0 auto;
    max-width: 1400px;
    display: block;
    padding: 25px 25px;
    background-color: $background-color;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    @include desktop {
        max-width: 1050px;
        background-color: #fff;
    }
    .index__title {
        @include tablet {
            width: $m-width;
            margin-bottom: 35px;
        }
    }
    figure {
        background-color: #fff;
        margin: 0 auto 20px;
        border-style: none;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: $shadow;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        @include tablet {
            width: 350px;
        }
        @include desktop {
            width: 450px;
        }
        figcaption {
            padding: 10px;
            h2 {
                margin: 10px 0 0;
            }
            p {
                margin: 8px 0 0;
            }
        }
        .heart {
            position: absolute;
            right: 10%;
            bottom: 15%;
        }
        .heart-container {
            position: absolute;
            right: 10%;
            bottom: 15%;
        }
        .new {
            position: absolute;
            top: 0;
            right: 10px;
            color: #008766;
            background-color: #99e2d0;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 10px;
        }
    }
    &__img {
        object-fit: cover;
        width: $m-width;
        height: 180px;
    }
}

.menu {
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    border-style: none;
    background-color: $background-color;
    padding: 20px;
    position: relative;
    top: -30px;
    margin-bottom: -28px;
    @include desktop {
        padding: 20px 10%;
    }
    & h1 {
        font-size: 29px;
        @include desktop {
            font-size: 40px;
        }
    }
    .heart {
        position: absolute;
        top: 51px;
        right: 34px;
        @include desktop {
            top: 65px;
            right: 11%;
        }
    }
    .heart-container {
        position: absolute;
        top: 51px;
        right: 34px;
        cursor: pointer;
        @include desktop {
            top: 65px;
            right: 11%;
        }
    }
    & ul {
        padding: 0;
        animation: fadein 4s;
        -moz-animation: fadein 4s;
        -webkit-animation: fadein 4s;
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    & li {
        list-style-type: none;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 15px;
        box-shadow: $shadow;
        overflow: hidden;
        cursor: pointer;
        transition: padding-right 450ms ease-in-out;
        &:hover {
        padding-right: 60px;
        }
        &:hover .circle {
            transform: rotate(360deg);
        }
        @include desktop {
            width: 30%;
        }
        & .menu__price {
            font-weight: bold;
            width: 28px;
            margin-left: 9px;
            margin-right: 10px;
        }
        h3 {
            width: 80%;
            margin: 4px;
            margin-left: 15px;
            padding-top: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        p {
            margin: 4px;
            margin-left: 15px;
            padding-bottom: 15px;
            width: 80%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .price {
            margin: 4px 20px;
            padding-bottom: 15px;
            position: relative;
            right: -60px;
        }
        .menu__text {
            display: flex;
            justify-content: space-between;
        }
        .menu__check {
            color: #fff;
            font-size: 20px;
            position: relative;
            padding: 32px 20px;
            height: 18px;
            width: 21px;
            top: -39px;
            right: -61px;
            margin-bottom: -42px;
            background-color: #99E2D0;
        }
        .circle {
            transition: transform 500ms ease-in-out;
        }
    }
    &__title {
        border-bottom: solid $color-tertiary;
        padding-bottom: 5px;
        width: 45px;
    }
    & .button {
        display: block;
        margin: $center;
        margin-top: 40px;
        margin-bottom: 40px;
        @include button;
        box-shadow: $shadow;
        cursor: pointer;
    }
}