@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.menu__title {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.price {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.index__title {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 15px;
}

.guide__manual li {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1 {
  font-family: "shrikhand", sans-serif;
  font-weight: 100;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.link {
  text-decoration: none;
  margin: 0;
  color: black;
}

.heart {
  font-size: 24px;
}

.heart_2 {
  font-size: 26px;
  opacity: 0;
  transform: opacity scale(1);
}
.heart_2:hover {
  background: linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to bottom, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  animation: heart-opacity 1000ms;
}

@keyframes heart-opacity {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.8;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
body {
  margin: 0;
}

.header__img {
  position: relative;
  display: block;
  margin: 20px auto 20px;
  width: 60%;
}
@media (min-width: 1000px) {
  .header__img {
    margin: 50px auto 50px;
    width: 40%;
  }
}
.header__img2 {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
@media (min-width: 1000px) {
  .header__img2 {
    height: 320px;
  }
}
.header__logo {
  position: absolute;
  color: black;
  top: 32px;
  left: 18px;
  font-size: 20px;
}

footer {
  width: 100%;
  padding-bottom: 30px;
  border-style: none;
  background-color: #353535;
}
@media (min-width: 1000px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
footer h1 {
  color: #fff;
  margin: 0;
  padding: 15px;
  font-size: 25px;
}
@media (min-width: 768px) {
  footer h1 {
    text-align: center;
    font-size: 30px;
  }
}
@media (min-width: 1000px) {
  footer h1 {
    width: 100%;
    font-size: 35px;
    margin: 20px auto;
  }
}
footer .footer__text {
  margin: 0;
  padding: 0 15px 8px;
}
@media (min-width: 1000px) {
  footer .footer__text {
    width: 200px;
    display: inline;
  }
}
footer .footer__logo {
  color: #fff;
  float: left;
  width: 8px;
  padding-left: 15px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  footer .footer__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  footer .link {
    text-align: center;
  }
}

.search {
  border-style: none;
  height: 300px;
  text-align: center;
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .search {
    padding-bottom: 0;
  }
}
.search__bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eaeaea;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
.search__bar_champ {
  border: none;
  outline: none;
  background: #eaeaea;
  font-size: 1rem;
  padding: 20px 5px 20px 5px;
  margin-top: 5px;
  text-align: center;
  width: 150px;
}
.search__text {
  padding: 0 30px 0;
  margin: 30px auto 30px;
}
@media (min-width: 768px) {
  .search__text {
    margin-top: 40px;
  }
}
.search .button {
  display: block;
  margin: auto;
  outline: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border-radius: 35px;
  border-style: none;
  font-size: 15px;
  padding: 13px 20px 13px;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px 6px #aaa;
}

.guide {
  border-style: none;
  padding: 25px 30px;
}
@media (min-width: 1000px) {
  .guide {
    display: block;
    margin: 0 auto;
    max-width: 1050px;
    padding-bottom: 0;
  }
}
.guide__manual {
  margin: auto;
  padding: 0;
}
@media (min-width: 1000px) {
  .guide__manual {
    display: flex;
  }
}
.guide__manual_number {
  float: left;
  border-style: none;
  color: #fff;
  background-color: #9356DC;
  border-radius: 100%;
  padding: 4px 8px 4px;
  position: relative;
  left: -10px;
}
.guide__manual_logo {
  font-size: 18px;
  margin-left: 10%;
  margin-right: 20px;
  color: #7e7e7e;
}
.guide__manual li {
  list-style-type: none;
  border-style: none;
  background-color: f6f6f6;
  font-size: 14px;
  border-radius: 20px;
  padding: 25px 25px 25px 0;
  margin: 25px auto;
  box-shadow: 4px 4px 6px #aaa;
}
.guide__manual li:first-child .guide__manual_logo {
  font-size: 21px;
}
@media (min-width: 1000px) {
  .guide__manual li {
    width: 250px;
  }
}
.guide__manual li:hover {
  background-color: #f5edff;
}
.guide__manual li:hover .guide__manual_logo:before {
  color: #9356DC;
}

.restaurants {
  margin: 0 auto;
  max-width: 1400px;
  display: block;
  padding: 25px 25px;
  background-color: #f6f6f6;
}
@media (min-width: 768px) {
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1000px) {
  .restaurants {
    max-width: 1050px;
    background-color: #fff;
  }
}
@media (min-width: 768px) {
  .restaurants .index__title {
    width: 100%;
    margin-bottom: 35px;
  }
}
.restaurants figure {
  background-color: #fff;
  margin: 0 auto 20px;
  border-style: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 4px 4px 6px #aaa;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (min-width: 768px) {
  .restaurants figure {
    width: 350px;
  }
}
@media (min-width: 1000px) {
  .restaurants figure {
    width: 450px;
  }
}
.restaurants figure figcaption {
  padding: 10px;
}
.restaurants figure figcaption h2 {
  margin: 10px 0 0;
}
.restaurants figure figcaption p {
  margin: 8px 0 10px;
}
.restaurants figure .heart {
  position: absolute;
  right: 10%;
  bottom: 15%;
}
.restaurants figure .heart_2 {
  position: absolute;
  right: 9.9%;
  bottom: 14.5%;
}
.restaurants figure .new {
  position: absolute;
  top: 0;
  right: 10px;
  color: #008766;
  background-color: #99e2d0;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 10px;
}
.restaurants__img {
  object-fit: cover;
  width: 100%;
  height: 180px;
}

.menu {
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  border-style: none;
  background-color: #f2f2f2;
  padding: 20px;
  position: relative;
  top: -30px;
  margin-bottom: -28px;
}
@media (min-width: 1000px) {
  .menu {
    padding: 20px 15%;
  }
}
.menu h1 {
  font-size: 29px;
}
.menu .heart {
  position: absolute;
  top: 52px;
  right: 34px;
}
@media (min-width: 1000px) {
  .menu .heart {
    right: 20%;
  }
}
.menu .heart_2 {
  position: absolute;
  top: 51px;
  right: 33px;
  cursor: pointer;
}
@media (min-width: 1000px) {
  .menu .heart_2 {
    right: 20%;
  }
}
.menu ul {
  padding: 0;
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  -webkit-animation: fadein 4s;
}
.menu li {
  list-style-type: none;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 4px 4px 6px #aaa;
  overflow: hidden;
  cursor: pointer;
  transition: padding-right 450ms ease-in-out;
}
.menu li:hover {
  padding-right: 60px;
}
.menu li .menu__price {
  font-weight: bold;
  width: 28px;
  margin-left: 9px;
  margin-right: 10px;
}
.menu li h3 {
  width: 80%;
  margin: 4px;
  margin-left: 15px;
  padding-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu li p {
  margin: 4px;
  margin-left: 15px;
  padding-bottom: 15px;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu li .price {
  margin: 4px 20px;
  padding-bottom: 15px;
  position: relative;
  right: -60px;
}
.menu li .menu__text {
  display: flex;
  justify-content: space-between;
}
.menu li .menu__check {
  color: #fff;
  font-size: 20px;
  position: relative;
  padding: 32px 20px;
  height: 18px;
  width: 21px;
  top: -40px;
  right: -60px;
  margin-bottom: -42px;
  background-color: #99E2D0;
}
.menu__title {
  border-bottom: solid #99E2D0;
  padding-bottom: 5px;
  width: 45px;
}
.menu .button {
  display: block;
  margin: 20px auto 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #fff;
  border-radius: 35px;
  border-style: none;
  font-size: 15px;
  padding: 13px 20px 13px;
  text-align: center;
  box-shadow: 4px 4px 6px #aaa;
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
